/* Webfont: HelloSpark-Sans */@font-face {
    font-family: 'HelloSparkSans';
    src: url('HelloSpark-Sans.woff2') format('woff2'), /* Modern Browsers */
         url('HelloSpark-Sans.otf') format('opentype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

